<!DOCTYPE html>
<link href="~/css/kolappen.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body style="text-align:center">
    <header class="mainHeader">


    </header>
    <img src="http://academy.academicwork.se/wp-content/uploads/2016/02/Academy_250x100.png" />
    <div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/home/index">AWA Intranet 1.0</a>
                </div>
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#">Home</a></li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>


        @RenderBody()
    </div>

    <div class="calendarPosition">
        <iframe src="https://calendar.google.com/calendar/embed?title=AWA%20VT16%20-%20C%23%20.NET&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=200&amp;wkst=2&amp;hl=sv&amp;bgcolor=%23FFFFFF&amp;src=qd4g3h2qi5vh2t873katrenqko%40group.calendar.google.com&amp;color=%23060D5E&amp;src=en.swedish%23holiday%40group.v.calendar.google.com&amp;color=%23711616&amp;src=e_2_en%23weeknum%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FStockholm" style="border-width:0" width="267" height="200" frameborder="0" scrolling="no"></iframe>
    </div>
    <footer>
        <p>HOME OF THE YOUNG PROFESSIONALS</p>
    </footer>
</body>
</html>




