@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"




<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/kolappen.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>

    @* row för loggan *@
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <img src="http://academy.academicwork.se/wp-content/uploads/2016/02/Academy_250x100.png" />
        </div>
        <div class="col-md-2" style="text-align: right">
            <h1 style="float: right; color: #17AD4C">The <b style="border: thick solid; color: #000000">ORIGINAL</b> AWA Intranet</h1>
        </div>
    </div>



    @* row för navbar *@
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/home/index">AWA Int 1.0</a>
                    </div>
                    <ul class="nav navbar-nav">
                        @*<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mina sidor<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/profile/profile">Min profil</a></li>
                                <li><a href="~/home/calendar">Kalender</a></li>
                                <li><a href="#">Undermeny 3</a></li>
                            </ul>
                        </li>*@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="~/profile/profile">Mina sidor<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/profile/profile">Profil</a></li>
                                <li><a href="~/profile/editprofile">Editera profil</a></li>
                            </ul>
                        </li>
                        <li><a href="~/home/calendar">Kalender</a></li>
                        <li><a href="~/account/login">loginsidan</a></li>
                        <li><a href="#">Meny 3</a></li>
                        <li><a href="#">Meny 3</a></li>
                        <li><a href="#">Meny 3</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @*kolla om man kan kicka igång modal på onclick på kalenderikonen*@

                        <li class="dropdown">
                            <a href="~/home/calendar" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-calendar" id="settingsIcon"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/home/calendar"><iframe src="https://calendar.google.com/calendar/embed?title=AWA%20VT16%20-%20C%23%20.NET&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=200&amp;wkst=2&amp;hl=sv&amp;bgcolor=%23FFFFFF&amp;src=qd4g3h2qi5vh2t873katrenqko%40group.calendar.google.com&amp;color=%23060D5E&amp;src=en.swedish%23holiday%40group.v.calendar.google.com&amp;color=%23711616&amp;src=e_2_en%23weeknum%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FStockholm" style="border-width:0" width="267" height="200" frameborder="0" scrolling="no"></iframe></a></li>
                            </ul>
                        </li>
                        @*pull-right*@
                        @*<li><a href="~/home/calendar"><span class="glyphicon glyphicon-calendar" id="settingsIcon"></span></a></li>*@
                        <li><a href="~/profile/editprofile"><span class="glyphicon glyphicon-cog" id="settingsIcon"></span></a></li>
                        <li><a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out" id="settingsIcon" /></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>





    @* main innehållet *@
    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            @RenderBody()

        </div>

        @* kölappen *@
        <div class="row">
            <div class="col-md-2" id="theQLappBackground">

                @*Här displayas infon för köplappen*@
                <div id="Queue">
                </div>

                <br /><br /><br /><br /><br /><br /><br /><br />
                @*<div id="calendarPositioning">
                        <iframe src="https://calendar.google.com/calendar/embed?title=AWA%20VT16%20-%20C%23%20.NET&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=200&amp;wkst=2&amp;hl=sv&amp;bgcolor=%23FFFFFF&amp;src=qd4g3h2qi5vh2t873katrenqko%40group.calendar.google.com&amp;color=%23060D5E&amp;src=en.swedish%23holiday%40group.v.calendar.google.com&amp;color=%23711616&amp;src=e_2_en%23weeknum%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FStockholm" style="border-width:0" width="267" height="200" frameborder="0" scrolling="no"></iframe>
                    </div>*@
            </div>
        </div>
    </div>


    @*<div class="panel-footer">HOME OF THE YOUNG PROFESSIONALS</div>*@

    <script type="text/javascript">

        //Funktion för knapptrycken
        function updateNeedHelp(isEqueue) {
            var action = isEqueue ? "EnQueue" : "DeQueue";
            $.post("/Queuelist/" + action, function (html) {
                $("#Queue").html(html);
            });
        }

        //Uppdaterar Köplappen inom ett visst tidintervall (kallar på Controllerna/Action för att hämta listan)
        var refreshQueue = function () {
            $.get("/Queuelist/GetQueuelist", function (html) {
                $("#Queue").html(html);
            });
        };
        refreshQueue();
        window.setInterval("refreshQueue()", 30000);



    function getActiveCourses(location) {        
        $.get("/admin/GetListOfCoursesForForm", {location : location} , function(result) {
            $("#Courses").html(JSON.Parse(result));
        });
    }

    </script>

</body>

</html>










