@model KoLappen.ViewModels.QueListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"



<div id="QueNr">
    @foreach (var item in Model)
    {
        if (item.IsUserItem)
        {
            @item.QueNr;
            break;
        }
    }
</div>

<div id="QueBtn">
    <form>
      
        @if (Model.Any(o => o.IsUserItem))
        {
            <input type="button" onclick="updateNeedHelp(false)" value="Problem löst" class="btn btn-success" />                
        }
        else
        {
            <input type="button" onclick="updateNeedHelp(true)" id="btnEnQueue" value="Hjälp" class="btn btn-success" />
        }
    </form>
</div>
<div id="QueName">
    @foreach (var user in Model)
    {
        <p>@user.Firstname @user.Lastname @user.TimeWaitedInMin</p>
    }
</div>
@*<script type="text/javascript">
    $("btnDeQueue").click(function () {
        alert("btnDeQueue");
        ;
    });
    $("btnEnQueue").click(function () {
        alert("btnEnQueue");

        updateNeedHelp(true);
    });
</script>*@
