@{
    ViewBag.Title = "AWA Intranet";
}
<link href="~/css/kolappen.css" rel="stylesheet" />


<div class="row" id="mainScrollable">
    <div class="col-md-6" id="commentRightBorder">
        <h2>Emelie informerar</h2> @* admin.Name informerar *@
        <p>
            Hej alla deltagare!
            <br />
            Undervisningen på fredag är inställd pga. sjukdom.
            <br />
            Mvh Emelie
        </p>
    </div>

    @*<div class="col-md-2"></div>*@

    <div class="col-md-6" id="commentLeftBorder">
        <h2>Klassens inlägg</h2>
        <p>
            <b>Senad</b> -
            Här kommer en bra länk för glyphs
            <br />
            <a href="http://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp">bootstrap_ref_comp_glyphs</a>
        </p>
    </div>
</div>

<br />

<div class="row">
    @*<div class="col-md-5" style="background-color: red">hej</div>


    <div class="col-md-2" style="background-color: blue">hå</div>*@


    <div class="col-md-1 col-md-offset-11" style="background-color: yellow">

        <p>
            <button type="button" class="btn btn-default btn-sm">
                Nytt inlägg@*<span class="glyphicon glyphicon-plus"></span>*@
            </button>
        </p>

    </div>
</div>

