@model KoLappen.ViewModels.AddEducationVM
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Lägga till utbildning";
}

<form asp-controller="Education" asp-action="AddCourse">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Skapa kurs</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <label asp-for="CourseName"></label>
                            <input asp-for="CourseName" class="form-control custom" placeholder="Kurs namn" />
                            <span asp-validation-for="CourseName"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" value="Education" class="btn btn-success">Registrera kurs</button>
        </div>
    </div>
</form>