.calendarPosition {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

header.indexHeader {
    background-color: white;
    color: forestgreen;
    text-align: left;
    padding: 10px;
}

header.mainHeader {
    background-color: white;
    color: forestgreen;
    text-align: left;
    padding: 60px;
}

footer.mainFooter {
    background-color: white;
    color: black;
    clear: both;
    text-align: center;
    padding: 60px;
}

section.loginimg {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 180px;
}

.btn-login {
    color: #fff;
    background-color: #00aa3c;
    border-color: #00aa3c;
}

.btn-logout {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

/*@media (max-width: 360px) {*/
.custom {
    width: 360px;
}

#settingsIcon{
    font-size: 25px;
}

