.calendarPosition {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

header.indexHeader {
    background-color: white;
    color: forestgreen;
    text-align: left;
    padding: 10px;
}

header.mainHeader {
    background-color: white;
    color: forestgreen;
    text-align: left;
    padding: 60px;
}

footer.mainFooter {
    background-color: white;
    color: black;
    clear: both;
    text-align: center;
    padding: 60px;
}

section.loginImg {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 180px;
}

.btn-login {
    color: #fff;
    background-color: #00aa3c;
    border-color: #00aa3c;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

.btn-logout {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

/*@media (max-width: 360px) {*/
.custom {
    width: 360px;
}

#settingsIcon {
    font-size: 25px;
}

#theQLappBackground {
    background-image: url('../images/theqlapp.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 155px 271px;
    /*text-align: center;*/
}

.alumner {
    font-size: x-large;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:900,300);

.container {
    margin: 120px auto 120px;
    background-color: lightgreen;
    padding: 0 20px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

    .container:hover .avatar-flip {
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

        .container:hover .avatar-flip img:first-child {
            opacity: 0;
        }

        .container:hover .avatar-flip img:last-child {
            opacity: 1;
        }

.avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 0 13px #f0f0f0;
    -moz-box-shadow: 0 0 0 13px #f0f0f0;
    box-shadow: 0 0 0 13px #f0f0f0;
}

    .avatar-flip img {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 100px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .avatar-flip img:first-child {
            z-index: 1;
        }

        .avatar-flip img:last-child {
            z-index: 0;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            opacity: 0;
        }





.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 5px;
}

#commentRightBorder {
    border-right: thin solid;
}


#commentLeftBorder {
    border-left: thin solid;
}



/*#noScrollingHereMister {
    overflow: hidden;
}

body, html {
    height: 100%;
}


#wrap {
    height: 100%;
    overflow: hidden;
}*/

body {
    overflow: hidden;
}

#mainScrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

#noScroll {
    overflow: hidden;
}

#personInfo {
    width: 90%;
    position: absolute;
    top: 300px;
    text-align: center;
}

#calendarPositioning {
    width: 100%;
    position: absolute;
    top: 500px;
}


#bottomFooterAWA {
    position: absolute;
    bottom: 20px;
}

#QueueNr {
    margin: auto;
    margin-top: 140px;
    width: 30%;
    /*border: 3px solid #73ad21;*/
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
}

#QueueBtn {
    position: absolute;
    top: 300px;
    left: 30%;
}


#QueueName {
    position: absolute;
    top: 350px;
    /*left: 10%;*/
    text-align: center;
}



/*

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}*/
