@using KoLappen.ViewModels
@model AddUserViewModel
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"


    @*@foreach (var item in Model)
    {
        <td>@item.education</td>
    }
    *@

<div class="alumner">
    <p><b><a href="/Account/Katalog" style="color:#00aa3c">HT 15</a></b></p>
    <p><b><a href="/Account/Katalog" style="color:#00aa3c">VT 16</a></b></p>
    <p><b><a href="/Account/Katalog" style="color:#00aa3c">Sommar kurs 16</a></b></p>
</div>

