@using KoLappen.ViewModels
@model AddUserViewModel
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"

<h2 style="color:#00aa3c">ALUMNER</h2>
<h3 style="color:#00aa3c">KURSER</h3>

    @*@foreach (var item in Model)
    {
        <td>@item.education</td>
    }
    *@

<div class="alumner">
    
    <p><b><a href="/Account/Semester/1" style="color:#00aa3c">C#</a></b></p>
    <p><b><a href="/Account/Semester/2" style="color:#00aa3c">JAVA</a></b></p>
    <p><b><a href="/Account/Semester/3" style="color:#00aa3c">Försäljning</a></b></p>
</div>

