@model KoLappen.ViewModels.CompleteRegistrationViewModel
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = null;
}

<form asp-controller="Account" asp-action="CompleteRegistration">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control custom" placeholder="Email" value="Test" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Firstname"></label>
    <input asp-for="Firstname" class="form-control custom" placeholder="Namn" value="Test" />
    <span asp-validation-for="Firstname"></span>
    <br />
    <label asp-for="Lastname"></label>
    <input asp-for="Lastname" class="form-control custom" placeholder="Efternamn" value="Testsson" />
    <span asp-validation-for="Lastname"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control custom" placeholder="Nytt lösenord" value="P@ssw0rd" />
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control custom" placeholder="Bekräfta lösenord" value="P@ssw0rd" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />
    <label asp-for="VerificationPassword"></label>
    <input asp-for="VerificationPassword" class="form-control custom" placeholder="Verifikations lösenord" value="P@ssw0rd" />
    <span asp-validation-for="VerificationPassword"></span>
    <br />
    <button type="submit" value="CompleteRegistration" class="btn btn-success">Bekräfta</button>
</form>