@model KoLappen.ViewModels.LoginVM
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        header {
            background-color: white;
            color: forestgreen;
            text-align: left;
            padding: 60px;
        }

        footer {
            background-color: white;
            color: black;
            clear: both;
            text-align: center;
            padding: 60px;
        }

        section {
            align-content: center;
            padding: 180px;
        }

        btn-success {
            color: #fff;
            background-color: #00aa3c;
            border-color: #00aa3c;
        }
    </style>

</head>
<body>
    <div style="background-image: url(../images/academicwork_background2.jpg); background-position: 50% 50%;">
        <header>
            <img src="~/images/academy_250x100.png" />
        </header>

        <section>
            <div class="col-lg-5">
                <center>
                    <div asp-validation-summary="ValidationSummary.All"></div>
                    <form asp-controller="Account" asp-action="Login">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName"></span>
                        <br />
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"></span>
                        <input type="submit" value="Login" />
                        <button type="button" class="btn btn-success">Logga in</button>
                    </form>
                </center>
            </div>
        </section>

    </div>
    <footer>
        <p>HOME OF THE YOUNG PROFESSIONALS</p>
    </footer>
</body>
</html>