@model KoLappen.ViewModels.LoginVM
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!--Responsivitet-->
    <link href="~/css/kolappen.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
        <div style="background-image: url(../images/academicwork_background2.jpg); background-position: 50% 50%;">
    <header class="mainHeader">
        <img src="http://academy.academicwork.se/wp-content/uploads/2016/02/Academy_250x100.png" />
    </header>
                <section class="loginimg">
                    <center>            
                        <form asp-controller="Account" asp-action="Login">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control custom"  placeholder="E-mail"/>
                            <span asp-validation-for="UserName"></span>
                            <br />
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control custom" placeholder="Lösenord" />
                            <span asp-validation-for="Password"></span>
                            <br />
                            <button type="submit" value="Login" class="btn btn-success">Logga in</button>
                        </form>
                            
                        
                        <a asp-controller="Account" asp-action="Logout"><input type="submit" value="Logout" /></a>
                    
                    
                    </center>
                </section>
        </div>
    <footer class="mainFooter">
        <p>HOME OF THE YOUNG PROFESSIONALS</p>
    </footer>
</body>
</html>