@model KoLappen.ViewModels.QueListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<html>
<head>

</head>
<body>

    <script type="text/javascript">
        var container = document.getElementById("Queue");
        var refreshComponent = function () {
            $.get("ViewComponents/QueListViewComponents", function (data) { container[data]; });
        };
        $(function () { window.setInterval(refreshComponent, 10000); });
    </script>


    <div id="QueNr">
        @foreach (var item in Model)
        {
            if (item.IsUserItem)
            {
                @item.QueNr;
                break;
            }
        }
    </div>

    <div id="QueBtn">
        <form asp-controller="QueList" asp-action="NeedHelpTrueOrFalse">
            @foreach (var item in Model)
            {
                if (item.IsUserItem)
                {       
                    <input type="hidden" name="trueOrFalse" value="false" />
                    <input type="submit" id="btnClick" value="Problem löst" class="btn btn-success" />
                    break;
                }
                else
                {
                    <input type="hidden" name="trueOrFalse" value="true" />
                    <input type="submit" id="btnClick" value="Hjälp" class="btn btn-success" />
                }
            }            
        </form>

    </div>
    <div id="QueName">
        @foreach (var user in Model)
            {
            <p>@user.Firstname @user.Lastname @user.HelpTime</p>
        }
    </div>
</body>
</html>